
.bg-luxe-slate {
    background-color: #0f172a;
    background-image:
        radial-gradient(circle at 50% -20%, #1e293b 0%, transparent 80%),
        radial-gradient(circle at 0% 100%, #020617 0%, transparent 50%);
    min-height: 100vh;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.6s cubic-bezier(0.16, 1, 0.3, 1) both;
}